body{
    background-color: slategray;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}


.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin-top: -75px;
}

.button {
    color: white;
    font-size: 1.5em;
    border-style: solid;
    border-width:medium;
    padding: 45px;
    margin-left: 50px !important;
    transition: 0.3s;
}

.button:hover{
    background-color: slateblue;
    opacity: .8;
}
.button.clicked{
    background-color: slateblue;
    opacity: .8;
}
.feedback{
    border: 2px solid white;
    color: white;
    padding: 10px;
    position: absolute;
    width: 200px;
    height: 125px;
    border-radius: 15px 50px 30px;
    transition: 0.3s;
}

.indicator{
    margin: 0 auto;
    width: 100px;
    
}

.refresh:hover{
    cursor: pointer;
}

.queue{
    font-size: 30px;
    margin-left: 10%;
    position: absolute;
}

.close{
    left: 30%;
    top: 30%;
    height: 100px;
    position: absolute;
}

